* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  scroll-behavior: smooth; 
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-family: Roboto, 'Arial', sans-serif;
  font-weight: normal;
  font-size: 100%;
}

body {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d8e3e8;
  padding: 25px 15px;
}

/* .header-content {
  display: flex;
  margin: auto;
} */

.logo-image {
  height: 100px;
  margin-left: 10px;
}

.menu_list {
  display: flex;
  list-style: none;
}

.menu_list-item {
  margin-right: 30px;
}

.menu_list-link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 120%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 50px;
}

.list {
  list-style: none;
}

.title {
  color: hwb(342 18% 14%);
  font-family: Oswald, 'Arial', sans-serif;
  font-size: 200%;
}